html {
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
    text-align: center;
}

table {
    align-items: center;
    width: 100%;
}

#tableForm tr {
    width: 100%;
    text-align: center;
} 

#tableForm td input {
    width: 100%;
    
}
#tableForm td {
    display: inline-block;
    
}

p {
    font-size: 1em;
    font-weight: 300;
    color: rgb(37, 38, 37);
}

.taskSingolo p {
    display: inline-block;
    margin-right: 20px;
    font-size: 0.7em;
}

.taskSingolo p::before {
    content: '- ';
}


h1 {
    font-size: 2.5em;
}

#tasks {
    margin: 15px;
}

#tasks h2{
    font-weight: lighter;
    font-size: 2em;
}

#tasks p {
    font-size: 1.5em;
    margin: 12px;
}

.fa-ban, .fa-plus {
    font-size: 15px;
    padding: 3px 3px;
    border: none;
    cursor: pointer; 
}

.fa-plus {
    font-size: 40px;
    padding: 3px 3px;
    border: none;
    cursor: pointer; 
}

#inputTesto {
    font-size: 25px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
  }
