html {
    text-align: center;
    background-image: url('../img/pizza3.png'); 
    background-repeat: round;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

h1 {
    color: blueviolet;
    font-size: 3.8em;
    font-weight: 900;
    margin: 20px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7); 
}

#tombolone tr {
    background-color: blueviolet;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(150, 238, 17);
}

#tombolone table {
    padding: 10px;
    text-align: center;
    display: ruby;
}

#tombolone table tr td {
    padding: 10px;
    margin: 10px
}

#tombolone table tr {
    margin: 150px;
    border: 10px;
}

#pulsantiera {
    margin: 30px;
}

#pulsantiera button {
    padding: 10px;
}